* {
    box-sizing: border-box
}

body {
    padding: 0 5em;
    margin: 0;
    background: #ffffff;
    color: #212121;
    font-family: 'Noto Serif', serif;
    line-height: 1.3;
    font-weight: 400;
}

a {
    color: inherit;
}

header,
main,
footer {
    max-width: 40em;
}

header {
    padding: 5em 0 0 0;
}

main {
    padding: 5em 0;
}


h1, h2, h3 {
    font-family: 'Noto Sans', sans-serif;
}

header h1 {
    margin: 0;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header ul li {
    display: inline;
}

h2 {
    margin: 5em 0 0 0;
    font-size: 1em;
}

main > *:first-child {
    margin-top: 0;
}

main > *:last-child {
    margin-bottom: 0;
}

main ul,
main p {
    font-size: 1.1em;
}

code, pre {
    background-color: #f8f8f8;
}

pre {
    padding: 2em;
    white-space: pre-wrap;
    word-wrap: break-word;
}