* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    box-shadow: inset 0 -1px 0 #03A9F4;
    text-decoration: none;
}

.mobile {
    display: none !important;
}

a:hover {
    color: inherit;
}

::selection {
    background: #E91E63;
    color: #fff;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #E91E63;
    color: #fff;
    /* Gecko Browsers */
}

html {
    min-height: 100%;
}

body {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.3;
    color: #212121;
}

body.blog {
    padding-bottom: 3em;
}

nav {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 4em);
    margin: 2em auto;
}

nav * {
    margin: 0;
    padding: 0;
}

nav a {
    box-shadow: none;
}

nav a:hover {
    color: inherit;
}

nav>a:first-of-type {
    font-weight: bold;
}

nav>a:first-of-type span {
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
}

nav ul {
    list-style-type: none;
}

nav ul li {
    margin-left: 1em;
    display: inline-block;
}

nav ul li a {
    background: linear-gradient(to bottom, white 50%, #E91E63 50%);
    background-size: 100% 200%;
    background-position: top;
    transition: all .2s ease-in-out;
    padding: 0.5em;
}

nav ul li a.active,
nav ul li a:hover {
    background-position: bottom;
    color: #fff;
}

nav ul li a.active {
    background: #03A9F4;
}

main {
    margin-top: 2em;
}

.serif {
    font-family: 'Noto Serif', sans-serif;
}

div.light {
    background-color: #EEEEEE;
}

div.dark {
    background-color: #212121;
    color: #fff;
}

.home {
    min-height: 100%;
    background: linear-gradient(135deg, #fcdf8a 0%, #f38381 100%);
    color: #333;
}

.home main a {
    box-shadow: inset 0 -1px 0 #E91E63;
}

.home footer {
    display: none;
}

.home nav,
.home main {
    max-width: calc(100% - 12em);
}

.home main {
    margin: 0 auto;
}

.home .big {
    font-size: 5em;
    font-weight: bold;
}

.home .medium {
    font-size: 2em;
}

.home .contacts,
.home .info {
    max-width: 700px;
    font-size: 1.1em;
    line-height: 1.5;
}

.home .contacts {
    margin: 0;
    padding: 0;
    list-style: none;
}

.home .contacts li {
    display: inline-block;
    margin-right: 0.7em;
}

.home .contacts li a {
    box-shadow: none;
    color: #007bb6;
    font-style: italic;
}

body>footer,
article li,
article p {
    font-family: 'Noto Serif', serif;
    font-size: 1.1em;
    line-height: 1.6;
}

.listing,
.pagination,
main>h1,
body>footer,
article .highlight>pre,
article>* {
    width: calc(100% - 64px);
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
}

article .highlight {
    max-width: 850px;
}

article figure#banner img {
    max-height: 28em;
    object-fit: cover;
    margin: 0 auto 1em;
    display: block;
}

article header time {
    display: block;
    text-transform: uppercase;
    margin: 2em auto 1em;
    font-size: .8em;
    color: rgba(0, 0, 0, .5) !important;
}

article header h1 {
    margin: .5em auto;
}

article header p {
    font-size: 1.3em;
    margin-top: -.5em;
    margin-bottom: 1.3em;
}

article ul,
article ol {
    padding-left: 3em;
}

article .highlight,
article p code,
article pre {
    background-color: #f8f8f8 !important;
}

article .highlight {
    padding: 2em;
    white-space: pre-wrap;
    word-wrap: break-word;
}

article p code {
    font-size: .8em;
    padding: .2em .5em;
}

article .video-player,
article figure.medium {
    max-width: 800px;
    margin: 2em auto;
    text-align: center;
}

article figure img {
    width: 100%;
}

article figure figcaption {
    text-align: center;
    font-size: .8em;
    color: rgba(0, 0, 0, 0.6);
}

article .video-player.full,
article figure.full {
    max-width: 100%;
    margin: 2em auto;
}

article figure.small {
    width: 25em;
}


.floating-bottom {
    position: fixed;
    bottom: -5rem;
    left: 0;
    width: 100%;
    background-color: white;
    border-top: 1px solid #eee;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    transition: .2s ease bottom;
}

.floating-bottom.visible {
    bottom: 0;
}

.floating-bottom>div {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.floating-bottom a {
    cursor: pointer;
    padding: .5em;
    transition: .5s ease all;
    height: 2rem;
    font-size: .8em;
    border-radius: 3px;
    display: flex;
    margin-right: 0.5em;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    border: 1px solid black;
}

.floating-bottom>div:first-of-type a {
    width: 2rem
}

.floating-bottom a:hover {
    opacity: .8;
}

.floating-bottom .twitter {
    border-color: #00aced;
    color: #00aced;
}

.floating-bottom .facebook {
    border-color: #3b5998;
    color: #3b5998;
}

.floating-bottom .gplus {
    color: #dd4b39;
    border-color: #dd4b39;
}

.floating-bottom .linkedin {
    border-color: #007bb6;
    color: #007bb6;
}

.floating-bottom .patreon,
.floating-bottom .coffee {
    font-weight: bold;
}

.donate .patreon,
.floating-bottom .patreon {
    background-color: rgb(249, 104, 84);
    color: white;
    border-color: rgb(249, 104, 84);
}

.donate .coffee,
.floating-bottom .coffee {
    background-color: #fd0;
    border-color: #fd0;
}

.donate main {
    width: calc(100% - 4rem);
    margin: 0 auto;
    font-size: 4em;
    line-height: 1.5;
}

.donate footer {
    display: none;
}

.donate main a {
    box-shadow: none;
    padding: 0 0.2em;
    font-weight: bold;
}

.donate main p {
    margin: 2em auto;
}

.donate #confetti {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

table {
    display: block;
    width: 100%;
    overflow: auto;
    border-collapse: collapse;
}

table th {
    font-weight: 600
}

table th,
table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5
}

table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}

table tr:nth-child(2n) {
    background-color: #f6f8fa
}

table img {
    background-color: transparent
}

blockquote {
    background: #f9f9f9;
    border-left: 0.625em solid #ccc;
    margin: 1.5em auto;
    padding: 1em;
}

blockquote p {
    color: rgba(0, 0, 0, 0.7);
    display: inline;
}

blockquote:after {
    color: #ccc;
    display: block;
    content: "</blockquote>";
    margin-top: 0.5em;
    font-size: .8em;
}

.video-player div {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.video-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.nextprev {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.2em 0 0;
    margin: 1.2em auto;
    justify-content: space-between;
    width: 100%;
}

.nextprev div {
    width: 47%;
}

.nextprev div:last-child {
    text-align: right;
}

.nextprev a {
    box-shadow: none;
}

.nextprev h4 {
    font-size: .8em;
    margin: 0;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.nextprev span {
    margin-top: .5em;
    display: block;
    font-weight: normal;
}

.listing ul {
    margin: 0 auto;
    padding: 0;
    margin: 0;
    list-style: none;
}

.listing li a {
    display: flex;
    box-shadow: none;
    align-content: center;
    margin: 1em 0;
}

.listing li a * {
    margin: 0;
}

.listing li a time {
    margin-left: auto;
    color: rgba(0, 0, 0, 0.3);
    width: 7em;
    text-align: right;
}

.skills {
    font-family: inherit;
}

.skills span {
    background: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.5);
    margin-right: 1em;
    margin-bottom: 1em;
    font-size: .8em;
    padding: .5em;
    display: inline-block;
}

.pagination {
    display: flex;
    padding: .5em 0;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
}

.pagination>li {
    list-style: none;
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
    position: relative;
    margin: 0;
    color: #c1c1c1;
    font-size: 1.5em;
}

.pagination a {
    color: #4E4E4E;
    transition: .2s ease all;
}

.pagination>li>a:hover {
    color: #212121;
}

hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 1.2em auto;
}

body>footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.2em 0;
    margin: 1.2em auto;
}

body>footer p {
    color: rgba(0, 0, 0, 0.2);
    font-size: .8em;
    line-height: 1;
    margin: 0;
    font-family: 'Noto Sans';
    text-align: center;
}

body>footer span {
    transition: .2s ease all;
}

body>footer a {
    color: inherit;
    box-shadow: none;
}

body>footer:hover span {
    color: red;
}

.glitch {
    color: black;
    font-size: 6em;
    font-weight: bold;
    position: relative;
    width: 7.5em;
    margin: 0;
    padding: 0;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

@media (max-width: 900px) {
    .home nav,
    .home main {
        max-width: calc(100% - 4em);
    }
    .home .big {
        font-size: 10vw;
    }
    .donate main {
        font-size: 2em;
    }
}

@media (max-width: 750px) {
    .glitch {
        font-size: 4em;
    }
}

@media (max-width: 600px) {
    .mobile {
        display: inherit !important;
    }
    .patreon,
    .coffee {
        width: 2rem;
    }
    .no-mobile {
        display: none;
    }
}

@media (max-width: 500px) {
    .glitch {
        font-size: 2.5em;
    }
}

@media (max-width: 300px) {
    .glitch {
        font-size: 1.5em;
    }
}

@keyframes noise-anim {
    0% {
        clip: rect(40px, 9999px, 35px, 0);
    }
    5% {
        clip: rect(64px, 9999px, 50px, 0);
    }
    10% {
        clip: rect(27px, 9999px, 26px, 0);
    }
    15% {
        clip: rect(72px, 9999px, 55px, 0);
    }
    20% {
        clip: rect(74px, 9999px, 53px, 0);
    }
    25% {
        clip: rect(16px, 9999px, 30px, 0);
    }
    30% {
        clip: rect(7px, 9999px, 52px, 0);
    }
    35% {
        clip: rect(21px, 9999px, 70px, 0);
    }
    40% {
        clip: rect(55px, 9999px, 19px, 0);
    }
    45% {
        clip: rect(28px, 9999px, 31px, 0);
    }
    50% {
        clip: rect(25px, 9999px, 94px, 0);
    }
    55% {
        clip: rect(46px, 9999px, 54px, 0);
    }
    60% {
        clip: rect(82px, 9999px, 15px, 0);
    }
    65% {
        clip: rect(29px, 9999px, 82px, 0);
    }
    70% {
        clip: rect(22px, 9999px, 21px, 0);
    }
    75% {
        clip: rect(46px, 9999px, 66px, 0);
    }
    80% {
        clip: rect(26px, 9999px, 73px, 0);
    }
    85% {
        clip: rect(33px, 9999px, 11px, 0);
    }
    90% {
        clip: rect(50px, 9999px, 25px, 0);
    }
    95% {
        clip: rect(88px, 9999px, 23px, 0);
    }
    100% {
        clip: rect(19px, 9999px, 67px, 0);
    }
}

.glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: black;
    background: #fff;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
    0% {
        clip: rect(41px, 9999px, 25px, 0);
    }
    5% {
        clip: rect(57px, 9999px, 17px, 0);
    }
    10% {
        clip: rect(84px, 9999px, 8px, 0);
    }
    15% {
        clip: rect(70px, 9999px, 26px, 0);
    }
    20% {
        clip: rect(53px, 9999px, 16px, 0);
    }
    25% {
        clip: rect(39px, 9999px, 14px, 0);
    }
    30% {
        clip: rect(14px, 9999px, 78px, 0);
    }
    35% {
        clip: rect(68px, 9999px, 74px, 0);
    }
    40% {
        clip: rect(78px, 9999px, 100px, 0);
    }
    45% {
        clip: rect(85px, 9999px, 17px, 0);
    }
    50% {
        clip: rect(12px, 9999px, 65px, 0);
    }
    55% {
        clip: rect(46px, 9999px, 24px, 0);
    }
    60% {
        clip: rect(55px, 9999px, 4px, 0);
    }
    65% {
        clip: rect(23px, 9999px, 2px, 0);
    }
    70% {
        clip: rect(10px, 9999px, 59px, 0);
    }
    75% {
        clip: rect(38px, 9999px, 92px, 0);
    }
    80% {
        clip: rect(22px, 9999px, 93px, 0);
    }
    85% {
        clip: rect(93px, 9999px, 100px, 0);
    }
    90% {
        clip: rect(1px, 9999px, 23px, 0);
    }
    95% {
        clip: rect(65px, 9999px, 6px, 0);
    }
    100% {
        clip: rect(56px, 9999px, 98px, 0);
    }
}

.glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: black;
    background: #fff;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
}
