* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    box-shadow: inset 0 -1px 0 #2196F3;
    text-decoration: none;
}

a:hover {
    color: #2196F3;
}

::selection {
    background: #f5f5f5;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #f5f5f5;
    /* Gecko Browsers */
}

body {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.3;
    padding-left: 15em;
    color: #212121;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #181818;
    width: 15em;
    color: #fff;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav * {
    margin: 0;
    padding: 0;
}

nav a {
    box-shadow: none;
}

nav a:hover {
    color: inherit;
}

nav>a:first-of-type {
    font-weight: bold;
}

nav>a:first-of-type span {
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
}

nav ul {
    list-style-type: none;
}

nav ul li {
    margin: .6em 0;
}

nav ul li a:hover,
nav ul li a.active {
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}

nav ul li a,
nav div a i {
    color: rgba(255, 255, 255, 0.8);
}

nav div {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -1em;
}

nav div a {
    margin: 0 1em 1em 0;
}

main {
    margin-top: 2em;
}

.serif {
    font-family: 'Merriweather', sans-serif;
}

mark.white {
    background-color: #fff;
}

mark.light {
    background-color: #EEEEEE;
}

mark.dark {
    background-color: #333;
    color: #fff;
}

div.light {
    background-color: #EEEEEE;
}

div.dark {
    background-color: #212121;
    color: #fff;
}

.home {
    margin: 0;
}

div.slider figure {
    position: relative;
    height: 100%;
    width: 1000%;
    margin: 0;
    padding: 0;
    left: 0;
    text-align: left;
    transition: .2s ease left;
    display: flex;
}

div.slider figure img {
    object-fit: cover;
}

div.slider figure>* {
    width: 10%;
    height: 100%;
    background-position: center center;
    background-size: cover;
}

div.slider {
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

div.slider button {
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.15);
    border: 0;
    color: #fff;
    height: 3em;
    width: 2em;
    z-index: 999;
    cursor: pointer;
    transition: .2s ease opacity;
    outline: none;
}

div.slider:hover button {
    opacity: 1;
}

div.slider button.left {
    left: 0;
}

div.slider button.right {
    right: 0;
}

div.slider p {
    font-size: 1.5em;
    max-width: 25em;
    width: calc(100% - 4.5em);
    margin: 0 auto;
    text-align: center;
    transform: translateY(calc(50vh - 50%));
}

p.big {
    font-size: 3em !important;
}

body>footer,
article li,
article p {
    font-family: 'Merriweather', serif;
    font-size: 1.1em;
    line-height: 1.6;
}

.mosaic,
.listing,
.pagination,
main>h1,
body>footer,
article>* {
    width: calc(100% - 64px);
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
}

article .video-player,
article figure.medium,
article figure,
article .video-player.full,
article figure.full {
    width: calc(100% - 64px);
}

article figure#banner img {
    max-height: 28em;
    object-fit: cover;
    margin: 0 auto 1em;
    display: block;
}

article header time {
    display: block;
    text-transform: uppercase;
    margin: 2em auto 1em;
    font-size: .8em;
    color: rgba(0, 0, 0, .5)!important;
}

article header h1 {
    margin: .5em auto;
}

article header p {
    font-size: 1.3em;
    margin-top: -.5em;
    margin-bottom: 1.3em;
}

article ul,
article ol {
    padding-left: 3em;
}

article p code,
article pre {
    background-color: #f8f8f8;
}

article pre {
    padding: 2em;
    white-space: pre-wrap;
    word-wrap: break-word;
}

article p code {
    font-size: .8em;
    padding: .2em .5em;
}

article .video-player,
article figure.medium,
article figure {
    max-width: 800px;
    margin: 2em auto;
    text-align: center;
}

article figure img {
    width: 100%;
}

article figure figcaption {
    text-align: center;
    font-size: .8em;
    color: rgba(0, 0, 0, 0.6);
}

article .video-player.full,
article figure.full {
    max-width: 100%;
}

article figure.small {
    width: 25em;
}

table {
    display: block;
    width: 100%;
    overflow: auto;
    border-collapse: collapse;
}

table th {
    font-weight: 600
}

table th,
table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5
}

table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}

table tr:nth-child(2n) {
    background-color: #f6f8fa
}

table img {
    background-color: transparent
}

blockquote {
    background: #f9f9f9;
    border-left: 0.625em solid #ccc;
    margin: 1.5em;
    padding: 1em;
}

blockquote p {
    color: rgba(0, 0, 0, 0.7);
    display: inline;
}

blockquote:after {
    color: #ccc;
    display: block;
    content: "</blockquote>";
    margin-top: 0.5em;
    font-size: .8em;
}

.video-player div {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.video-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#disqus {
    display: none;
}

#disqus+div>div {
    display: none;
}

#disqus:checked+div>div {
    display: block;
}

.share {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.share>* {
    cursor: pointer;
    color: #fff;
    padding: .5em;
    background-color: rgba(0, 0, 0, 0.84);
    transition: .5s ease all;
    width: 18%;
}

.share>*:hover {
    color: #fff;
    opacity: .8;
}

.share .social {
    margin: 0 2%;
}

.share .twitter {
    background-color: #00aced;
}

.share .facebook {
    background-color: #3b5998;
}

.share .gplus {
    background-color: #dd4b39;
}

.share .linkedin {
    background-color: #007bb6;
}

.nextprev {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.2em 0 0;
    margin: 1.2em auto;
    justify-content: space-between;
    width: 100%;
}

.nextprev div {
    width: 47%;
}

.nextprev div:last-child {
    text-align: right;
}

.nextprev a {
    box-shadow: none;
}

.nextprev h4 {
    font-size: .8em;
    margin: 0;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.nextprev span {
    margin-top: .5em;
    display: block;
    font-weight: normal;
}

.listing ul {
    margin: 0 auto;
    padding: 0;
    margin: 0;
    list-style: none;
}

.listing li a {
    display: flex;
    box-shadow: none;
    align-content: center;
    margin: 1em 0;
}

.listing li a * {
    margin: 0;
}

.listing li a time {
    margin-left: auto;
    color: rgba(0, 0, 0, 0.3);
    width: 7em;
    text-align: right;
}

.mosaic ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mosaic li {
    width: calc(50% - 1em);
    position: relative;
    padding-bottom: calc(50% - 1em);
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 2em;
}

.mosaic li a>div,
.mosaic li img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.mosaic li:hover a>div {
    background-color: rgba(0, 0, 0, 0.5);
}

.mosaic li a>div {
    transition: .2s ease background-color;
    color: rgba(255, 255, 255, 0.95);
    background: rgba(0, 0, 0, 0.1);
}

.mosaic li h3 {
    margin: 1em;
}

.skills {
    font-family: inherit;
}

.skills span {
    background: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.5);
    margin-right: 1em;
    margin-bottom: 1em;
    font-size: .8em;
    padding: .5em;
    display: inline-block;
}

.pagination {
    display: flex;
    padding: .5em 0;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
}

.pagination>li {
    list-style: none;
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
    position: relative;
    margin: 0;
    color: #c1c1c1;
    font-size: 1.5em;
}

.pagination a {
    color: #4E4E4E;
    transition: .2s ease all;
}

.pagination>li>a:hover {
    color: #212121;
}

form {
    padding: 1em;
    display: flex;
    background-color: #f5f5f5;
}

form input[type="email"],
form input[type="text"],
form input[type="submit"] {
    flex-grow: 1;
    width: auto;
    display: inline-block;
    outline: none;
    font-size: 1em;
}

form input[type="email"],
form input[type="text"] {
    width: 0;
    padding: 1em 0;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-right: 1em;
}

form input[type="email"]:focus,
form input[type="text"]:focus {
    border-color: #2196F3;
}

form input[type="submit"] {
    border: none;
    background: #2196F3;
    color: #fff;
    cursor: pointer;
    max-width: 7em;
}

hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 1.2em auto;
}

body>footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.2em 0;
    margin: 1.2em auto;
}

body>footer p {
    color: rgba(0, 0, 0, 0.2);
    font-size: .9em;
    line-height: 1;
    margin: 0;
    text-align: right;
    font-family: 'Noto Sans';
}

body>footer span {
    transition: .2s ease all;
}

body>footer a {
    color: inherit;
    box-shadow: none;
}

body>footer:hover span {
    color: red;
}

.glitch {
    color: black;
    font-size: 6em;
    font-weight: bold;
    position: relative;
    width: 7.5em;
    margin: 0;
    padding: 0;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: calc(50% + 1.25em);
}

@media (max-width: 750px) {
    .glitch {
        font-size: 4em;
    }
}

@media (max-width: 500px) {
    .glitch {
        font-size: 2.5em;
    }
}

@media (max-width: 300px) {
    .glitch {
        font-size: 1.5em;
    }
}

@keyframes noise-anim {
    0% {
        clip: rect(40px, 9999px, 35px, 0);
    }
    5% {
        clip: rect(64px, 9999px, 50px, 0);
    }
    10% {
        clip: rect(27px, 9999px, 26px, 0);
    }
    15% {
        clip: rect(72px, 9999px, 55px, 0);
    }
    20% {
        clip: rect(74px, 9999px, 53px, 0);
    }
    25% {
        clip: rect(16px, 9999px, 30px, 0);
    }
    30% {
        clip: rect(7px, 9999px, 52px, 0);
    }
    35% {
        clip: rect(21px, 9999px, 70px, 0);
    }
    40% {
        clip: rect(55px, 9999px, 19px, 0);
    }
    45% {
        clip: rect(28px, 9999px, 31px, 0);
    }
    50% {
        clip: rect(25px, 9999px, 94px, 0);
    }
    55% {
        clip: rect(46px, 9999px, 54px, 0);
    }
    60% {
        clip: rect(82px, 9999px, 15px, 0);
    }
    65% {
        clip: rect(29px, 9999px, 82px, 0);
    }
    70% {
        clip: rect(22px, 9999px, 21px, 0);
    }
    75% {
        clip: rect(46px, 9999px, 66px, 0);
    }
    80% {
        clip: rect(26px, 9999px, 73px, 0);
    }
    85% {
        clip: rect(33px, 9999px, 11px, 0);
    }
    90% {
        clip: rect(50px, 9999px, 25px, 0);
    }
    95% {
        clip: rect(88px, 9999px, 23px, 0);
    }
    100% {
        clip: rect(19px, 9999px, 67px, 0);
    }
}

.glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: black;
    background: #fff;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
    0% {
        clip: rect(41px, 9999px, 25px, 0);
    }
    5% {
        clip: rect(57px, 9999px, 17px, 0);
    }
    10% {
        clip: rect(84px, 9999px, 8px, 0);
    }
    15% {
        clip: rect(70px, 9999px, 26px, 0);
    }
    20% {
        clip: rect(53px, 9999px, 16px, 0);
    }
    25% {
        clip: rect(39px, 9999px, 14px, 0);
    }
    30% {
        clip: rect(14px, 9999px, 78px, 0);
    }
    35% {
        clip: rect(68px, 9999px, 74px, 0);
    }
    40% {
        clip: rect(78px, 9999px, 100px, 0);
    }
    45% {
        clip: rect(85px, 9999px, 17px, 0);
    }
    50% {
        clip: rect(12px, 9999px, 65px, 0);
    }
    55% {
        clip: rect(46px, 9999px, 24px, 0);
    }
    60% {
        clip: rect(55px, 9999px, 4px, 0);
    }
    65% {
        clip: rect(23px, 9999px, 2px, 0);
    }
    70% {
        clip: rect(10px, 9999px, 59px, 0);
    }
    75% {
        clip: rect(38px, 9999px, 92px, 0);
    }
    80% {
        clip: rect(22px, 9999px, 93px, 0);
    }
    85% {
        clip: rect(93px, 9999px, 100px, 0);
    }
    90% {
        clip: rect(1px, 9999px, 23px, 0);
    }
    95% {
        clip: rect(65px, 9999px, 6px, 0);
    }
    100% {
        clip: rect(56px, 9999px, 98px, 0);
    }
}

.glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: black;
    background: #fff;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
}

@media (max-width: 700px) {
    body {
        padding-left: 0;
    }
    nav {
        position: relative;
        width: 100%;
    }
    nav>a:first-of-type span {
        font-size: .8em;
        margin-left: .5em;
    }
    nav ul {
        margin: 0.4em 0;
    }
    nav ul li {
        display: inline-block;
        margin-right: 1em;
    }
    div.slider button {
        opacity: 1;
    }
}

@media (max-width: 450px) {
    .mosaic ul {
        flex-direction: column
    }
    .mosaic li {
        width: 100%;
        padding-bottom: 100%;
    }
}