* {
 box-sizing: border-box;
}

body {
 font: normal 1em/1.6 'Ubuntu Mono', monospace;
}

a {
 color: #2196F3;
 text-decoration: none;
}

img {
 max-width: 100%;
}


/* COMMON CLASSES */

.container {
 max-width: 960px;
 margin: 0 auto;
 width: 95%;
}


/* NAVIGATION */

body>nav {
 border-bottom: 1px solid #ccc;
}

body>nav ul {
 list-style: none;
 padding: 0;
 margin: 0;
 display: flex;
}

body>nav ul li {
 display: inline-block;
}

body>nav ul li a {
 display: block;
 margin: 1.5em 1em;
 color: inherit;
}

body>nav ul li:first-child {
 margin-right: auto;
}

body>nav ul li:first-child a {
 font-weight: bold;
}


/* WORK */

.work {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}

.work article {
 flex-basis: calc(50% - 0.5em);
 position: relative;
 margin-bottom: 1em;
}

.work article div:first-child {
 background-size: cover;
 background-position: center center;
 width: 100%;
 display: inline-block;
 position: relative;
 transition: .2s ease all;
}

.work article>a>div:first-child:after {
 padding-top: 56.25%;
 /* 16:9 ratio */
 display: block;
 content: '';
}


.work article>a>div:last-child {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: rgba(0, 0, 0, 0.57);
 color: #fff;
 text-align: center;
 opacity: 0;
 transition: .2s ease-in-out all;
}


.work article:hover>a>div:last-child {
    opacity: 1;
}

.work article>a>div:last-child div {
 position: relative;
 top: 50%;
 transform: translateY(-50%);
}

.work article p {
 font-style: italic;
}

.work article a {
 display: flex;
}

.work article * {
 margin: 0;
 padding: 0;
}


/* WORK SINGLE */

.masterpiece {
 max-width: 850px;
 width: 95%;
 margin: 1em auto;
}

.masterpiece>div {
 display: flex;
}

.masterpiece>div div p:first-child {
 margin-top: 0;
}

.masterpiece>div div:first-child {
 width: 30%;
 padding-right: 1em;
}

.masterpiece>div div:last-child {
 width: 70%;
}


/* SITE FOOTER */

body>footer {
 background: #fff;
 border-top: 1px solid #ccc;
 margin-top: 1em;
}


/* BLINKING CURSOR */

.blinking {
 height: 100%;
 display: inline-block;
 width: 15px;
 border-bottom: 3px solid black;
 animation: 1s blink step-end infinite;
}

@keyframes blink {
 from, to {
  border-color: transparent;
 }
 50% {
  border-color: black;
 }
}
