* {
    box-sizing: border-box;
}

body {
    font: normal 1em/1.6 'Roboto', sans-serif;
    color: #212121;
}

a {
    color: #2196F3;
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1 {
    text-align: center;
}

figure {
    margin: 0 auto;
    text-align: center;
}

figcaption {
    font-style: italic;
}

::selection {
    background: #f5f5f5;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #f5f5f5;
    /* Gecko Browsers */
}


/* COMMON CLASSES */

.container {
    max-width: 960px;
    margin: 0 auto;
    width: 95%;
}


/* PAGES: other */

body.other {
    background: #fafafa;
}

body.other nav {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .05);
}


/* PAGES: page */

body.page nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}


/* PAGES: home */

body.home {
    background-position: center, center;
    background-size: cover, cover;
    background-attachment: scroll;
    background-image: url(/images/home.jpg);
    height: 100vh;
}

.home nav {
    background: none;
}

.home main>div {
    max-width: 24em;
    width: 90%;
    background: rgba(255, 255, 255, 0.929);
    border-radius: .2em;
    position: absolute;
    padding: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home nav ul li:first-child {
    visibility: hidden;
}

.home nav ul li a {
    color: #fff;
    font-weight: bold;
}

@media (max-width: 550px) {
    .home nav ul li:first-child {
        visibility: visible;
    }
    .home nav ul li a {
        color: #212121;
        font-weight: inherit;
    }
    .home nav {
        background: rgba(255, 255, 255, 0.97);
        0 4px 2px -2px rgba(0, 0, 0, .05)
    }
}

.home img {
    border-radius: 50%;
    width: 8em;
}

.home h1,
.home p {
    text-align: left;
    color: #313F47;
    font-weight: lighter;
}

.home h1 {
    margin-bottom: .3em;
}

.home p {
    margin-top: 0;
}

.home main div ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.home main div a {
    display: inline-block;
    color: #C8CCCF;
    font-size: 1.5em;
    border: 1px solid;
    border-radius: 50%;
    width: 1.65em;
    height: 1.65em;
    text-align: center;
    transition: .2s ease all;
    margin: .1em;
}

.home main div a:hover {
    color: #11cfcb;
}


/* BLOG */

.listing {
    max-width: 640px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 1em;
    list-style: none;
    padding: 0;
}

.listing>li {
    margin-bottom: 1em;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    border: 1px solid rgba(0, 0, 0, .09);
    background: #fff;
    padding: 1em;
    border-radius: .2em;
}

.listing>li span {
    display: block;
    margin-bottom: 1em;
    font-size: .750em;
    color: rgba(0, 0, 0, .44)!important;
}

.listing>li img {
    width: 100%;
    height: 14em;
    object-fit: cover;
}

.listing>li h2 {
    margin: 0 0 .5em;
}

.listing>li p {
    font-family: 'Lora', serif;
    font-size: 1.1em;
    margin: 0;
}

.listing>li a {
    color: inherit;
}


/* PAGINATION */

.pagination {
    display: flex;
    padding: .5em 0;
    margin: 0;
    width: 100%;
    justify-content: space-between;
}

.pagination>li {
    list-style: none;
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
    position: relative;
    margin: 0;
    color: #c1c1c1;
    font-size: 1.5em;
    font-weight: bold;
}

.pagination a {
    color: #4E4E4E;
    transition: .2s ease all;
}

.pagination>li>a:hover {
    color: #212121;
}


/* NAVIGATION */

#expand {
    display: none;
}

#expand-button {
    border: 2px solid black;
    padding: .2em;
    display: inline-block;
    vertical-align: middle;
    background: none;
    cursor: pointer;
    margin-right: 1em;
    border-radius: .2em;
    display: none;
}

#expand-button~a {
    vertical-align: middle;
    display: inline-block;
}

body>nav {
    background: #fff;
    z-index: 9999;
    transition: .2s ease-in-out all;
}

body>nav ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    width: 90%;
    line-height: 1;
}

body>nav ul li {
    display: inline-block;
}

body>nav ul li a {
    display: block;
    margin: 1.5em 1em;
    color: inherit;
}

body>nav ul li a:hover,
body>nav ul li a.active {
    text-decoration: line-through;
}

body>nav ul li:first-child a {
    margin-left: 0;
}

body>nav ul li:last-child a {
    margin-right: 0;
}

body>nav ul li:first-child {
    margin-right: auto;
}

body>nav ul li:first-child a {
    font-weight: bold;
}

@media (max-width: 550px) {
    body {
        padding-top: 3em;
    }
    body>nav {
        transform: translateY(calc(-100% + 3em));
        position: absolute;
        width: 100%;
        top: 0;
    }
    body>nav ul {
        flex-direction: column-reverse;
    }
    body>nav ul li a {
        margin: 1em 0;
    }
    #expand-button {
        display: inline-block;
    }
    #expand:checked~nav {
        transform: translateY(0);
    }
    #expand:checked~nav #expand-button {
        transform: rotate(180deg);
    }
}


/* Posts and pages */

.single {
    font-family: 'Lora', serif;
    font-size: 1.2em;
}

.single header {
    position: relative;
}

.single header time {
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    margin-top: 2em;
    font-family: 'Roboto', sans-serif;
    font-size: .750em;
    color: rgba(0, 0, 0, .44)!important;
}

.single header img {
    width: 100%;
    max-height: 28em;
    object-fit: cover;
}

.single header h1:first-child {
    margin-top: .5em;
}

.single header h1 {
    margin: .2em auto .8em;
    color: #212121;
    text-align: left;
    font-size: 2.6em;
    line-height: 1.2;
}

.single .video-player,
.single time,
.single p,
.single hr,
.single h1,
.single h2,
.single h3,
.single h4,
.single h5,
.single ul,
.single ol,
.single blockquote,
.single table,
.single .discussion,
.single footer>div,
.single footer>label {
    margin: 1em auto;
    width: 90%;
    max-width: 700px;
}

.single h1,
.single h2,
.single h3,
.single h4,
.single h5 {
    font-family: 'Roboto', sans-serif;
}

.single ul,
.single ol {
    padding-left: 3em;
}

.single li p {
    margin: 0;
}

.single h2 {
    margin: 0.83em auto;
    text-align: center;
}

.single blockquote {
    color: rgba(0, 0, 0, .6);
    border: none;
    padding-left: 2em;
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-style: italic;
}

.single blockquote p {
    margin: 1em 0;
    padding: 0;
    max-width: none;
    width: 100%;
}

.single pre {
    background: #f8f8f8;
}

.single pre code {
    margin: 0 auto;
    max-width: 960px;
    width: 95%;
    font-size: 1rem;
}

.single .video-player,
.single figure.medium,
.single figure {
    max-width: 750px;
    width: 95%;
}

.single .video-player.full,
.single figure.full {
    width: 100%;
    max-width: 100%;
}

.single figure.small {
    width: 25em;
}

.single table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
}

.single td,
.single th {
    border: 1px solid transparent;
    height: 30px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.single th {
    background: #DFDFDF;
    font-weight: bold;
}

.single td {
    background: #FAFAFA;
    text-align: center;
}

tr:nth-child(even) td {
    background: #F1F1F1;
}

tr:nth-child(odd) td {
    background: #FEFEFE;
}

tr td:hover {
    background: #666;
    color: #FFF;
}

.video-player div {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.video-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* ARTICLE FOOTER */

.single footer label {
    display: block;
}

.single footer label a {
    background: #fff;
    color: #18b1e5;
    border: 3px solid;
}

.single footer label a:before {
    content: 'Show ';
}

.single footer input[type="checkbox"] {
    display: none;
}

#show_disqus+div>div {
    display: none;
}

#show_disqus:checked+div label a:before {
    content: 'Hide ';
}

#show_disqus:checked+div>div {
    display: block;
}

.buttons {
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.buttons a {
    cursor: pointer;
    color: #fff;
    padding: .5em;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    /* border-radius: 1em; */
    box-sizing: content-box;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.84);
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
    font-family: 'Roboto', sans-serif;
}

.buttons a:first-child {
    margin-left: 0;
}

.buttons a:last-child {
    margin-right: 0;
}

.buttons a:hover {
    opacity: .8;
}

.buttons .social {
    margin: 0 2%;
}

.buttons .prev div:before {
    content: '← ';
}

.buttons .next div:after {
    content: ' →';
}

.buttons .twitter {
    background-color: #00aced;
}

.buttons .facebook {
    background-color: #3b5998;
}

.buttons .gplus {
    background-color: #dd4b39;
}

.buttons .linkedin {
    background-color: #007bb6;
}


/* WORK */

.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work article {
    flex-basis: calc(50% - 0.5em);
    position: relative;
    margin-bottom: 1em;
}

.work article div:first-child {
    background-size: cover;
    background-position: center center;
    width: 100%;
    display: inline-block;
    position: relative;
    transition: .2s ease all;
}

.work article>a>div:first-child:after {
    padding-top: 56.25%;
    /* 16:9 ratio */
    display: block;
    content: '';
}

.work article>a>div:last-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.57);
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: .2s ease-in-out all;
}

.work article:hover>a>div:last-child {
    opacity: 1;
}

.work article>a>div:last-child div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.work article p {
    font-style: italic;
}

.work article a {
    display: flex;
}

.work article * {
    margin: 0;
    padding: 0;
}

@media (max-width: 550px) {
    .work {
        flex-direction: column;
    }
    .work article {
        width: 100%;
    }
}


/* WORK SINGLE */

.masterpiece {
    max-width: 960px;
    width: 90%;
    margin: 1em auto;
}

.masterpiece h1 {
    text-align: left;
}

.masterpiece>div {
    display: flex;
}

.masterpiece>div div p:first-child {
    margin-top: 0;
}

.masterpiece>div div:first-child {
    width: 30%;
    padding-right: 1em;
}

.masterpiece>div div:last-child {
    width: 70%;
}

@media (max-width: 550px) {
    .masterpiece>div {
        flex-direction: column;
    }
    .masterpiece>div div {
        width: 100% !important;
    }
}


/* BLINKING CURSOR */

.blinking {
    height: 100%;
    display: inline-block;
    width: 15px;
    border-bottom: 3px solid black;
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}


/* SITE FOOTER */

body>footer {
    margin-top: 1em;
    background: #333;
    color: #fff;
}

body>footer a {
    color: inherit;
}

body>footer>div {
    display: flex;
    max-width: 960px;
    width: 90%;
    margin: 0 auto;
}

body>footer>div div:last-child {
    text-align: right;
    margin-left: auto;
}

body>footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body>footer ul li {
    display: inline-block;
}

body>footer ul li:after {
    content: ' /';
}

body>footer ul li:last-child:after {
    content: '';
}

body>footer>div p:first-child {
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 0;
}

body>footer>div p:last-child {
    margin-top: 0;
}

body>footer>p {
    text-align: center;
    font-weight: bold;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    padding: 1em 0;
}

@media (max-width: 630px) {
    body>footer>div {
        flex-direction: column;
    }
    body>footer>div div,
    body>footer>div div:last-child {
        width: 100%;
        text-align: center;
        margin-bottom: 2em;
        margin-top: 0;
    }
    body>footer>div div:last-child p {
        margin-top: 0;
    }
}


/* 404 PAGE */

#binary {
    word-wrap: break-word;
    line-height: 1;
    max-width: 504px;
    height: 16em;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
}

#binary span:nth-child(even):after {
    content: '1';
    animation: .2s change1 infinite;
}

#binary span:nth-child(odd):after {
    content: '0';
    animation: .3s change0 infinite;
}

@keyframes change1 {
    from {
        content: '1'
    }
    to {
        content: '0'
    }
}

@keyframes change0 {
    from {
        content: '0'
    }
    to {
        content: '1'
    }
}