{{ partial "header" . }}

<div>
  <article class="masterpiece">
      <header>
        {{ if isset .Params "image" }}<img src="{{ .Site.BaseURL }}images/{{ .Params.image }}.jpg">{{ end }}
        <div>
          <h1>{{ .Title }}<span class="blinking"></span></h1>
          {{ if eq .Type "post" }}<time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>{{ end }}
        </div>
      </header>

      {{ $color := .Params.color }}

      <div>
          <div>
              {{ if isset .Params "for" }}
              <p><strong>For:</strong> {{ .Params.for }}</p>
              {{ end }}

              {{ if isset .Params "website" }}
              <p><strong>Website:</strong> <a href="{{ .Params.website.link }}" style="color:{{ $color }}">{{ .Params.website.name }}</a></p>
              {{ end }}

              {{ if isset .Params "source" }}
              <p><strong>Source:</strong> <a href="{{ .Params.source.link }}" style="color:{{ $color }}">{{ .Params.source.name }}</a></p>
              {{ end }}

              {{ if isset .Params "with" }}
              <p><strong>Made with:</strong></p>
              <ul>
              {{ range $person := .Params.with}}
              <li><a href="{{ $person.link }}" style="color:{{ $color }}">{{$person.name}}</a></li>
              {{ end }}
              </ul>
              {{ end }}

              {{ if isset .Params "skills" }}
              <p><strong>Skills:</strong></p>
              <ul>
              {{ range $skill := .Params.skills}}
              <li>{{$skill}}</li>
              {{ end }}
              </ul>
              {{ end }}
          </div>
          <div>
                {{ .Content }}
            </div>
      </div>
  </article>
</div>

{{ partial "footer" . }}
