{{ partial "header" . }}

<main role="main">
	{{ if not (eq .Title "Blog") }}
	<h1>{{ .Title }}</h1>
	{{ end }}

	<ul class="listing">
		{{ range .Paginator.Pages }}
		<li class="item">
			<a href="{{ .Permalink }}">
				{{ if .Params.image }}<img class="image" src="/images/{{ .Params.image }}-small.jpg">{{ end }}
				<div>
					<span>{{ .ReadingTime  }} min read</span>
					<h2>{{ .Title }}</h2>
					<p>{{ .Description }}</p>
				</div>
			</a>
		</li>
		{{ end }}
		{{ partial "pagination" . }}
	</ul>
</main>

{{ partial "footer" . }}
