{{ define "main" }}

<main role='main' class='container mt4 center'>
	<h1>{{ .Title }}</h1>
	<ul class='list ma0 pa0'>
		{{ range .Paginator.Pages }}
		<li class='bg-near-white pa4 mt4'>
			<a href='{{ .Permalink }}'>
				<div class='flex-ns justify-between mb3'>
					<h3 class='ma0'>{{ .Title }}</h3>
					<time class='db ttu mb0 mh0 mt0-ns mt2 f6 gray' datetime='{{ .Date.Format "2006-01-02" }}'>
						{{ .Date.Format "Jan 2, 2006" }}
					</time>
				</div>
	
				<p>
					{{ .Summary }}
				</p>
	
				<div class='mt2 b tr'>Read more ➡️</div>
			</a>
		</li>
		{{ end }}
	</ul>
	{{ partial "pagination" . }}
</main>

{{ end }}
