{{ partial "header" . }}

<main role="main">
	<h1>{{ .Title }}</h1>

	<ul class="listing">
		{{ range .Paginator.Pages }}
		<li class="item">
			<a href="{{ .Permalink }}">
				<span>About {{ .FuzzyWordCount  }} words &bull; {{ .ReadingTime  }} min read</span>
				{{ if .Params.image }}<img class="image" src="/images/{{ .Params.image }}-small.jpg">{{ end }}
				<h2>{{ .Title }}</h2>
				<p>{{.Description}}</p>
			</a>
		</li>
		{{ end }}
		{{ partial "pagination" . }}
	</ul>
</main>

{{ partial "footer" . }}
