{{ partial "header" . }}

<div class="single">
  {{ if isset .Params "image" }}
  <!-- <div id="article-banner" class="single banner" style="background-image: url('{{ .Site.BaseURL }}{{ .Params.image }}')"></div> -->
  <img id="article-banner" class="single banner" src="{{ .Site.BaseURL }}{{ .Params.image }}">
  {{ end }}

  <article class="container">
  {{ partial "article/header" . }}
  {{ .Content }}
  {{ if eq .Type "post" }}
  {{ partial "article/footer" . }}
  {{ end }}
  </article>
</div>

<script>
window.onscroll = function() {
  var obj = document.getElementById("article-banner");
  obj.style.top = ((window.pageYOffset | document.body.scrollTop) / 3 - 48) + "px";
};
</script>

{{ partial "footer" . }}
