<footer>
    <div>
        <div>
            <p>Contact</p>
            <p><a href="mailto:hacdias@gmail.com">hacdias@gmail.com</a></p>
            <a href='https://ko-fi.com/A542HYT' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://az743702.vo.msecnd.net/cdn/kofi1.png?v=f' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
        </div>
        <div>
            <p>Follow me</p>
            <ul>
                <li><a href="https://facebook.com/{{ .Site.Social.Facebook }}">Facebook</a></li>
                <li><a href="https://linkedin.com/in/{{ .Site.Social.LinkedIn }}">LinkedIn</a></li>
                <li><a href="https://plus.google.com/+{{ .Site.Social.GooglePlus }}">Google+</a></li>
                <li><a href="https://github.com/{{ .Site.Social.GitHub }}">GitHub</a></li>
                <li><a href="https://instagram.com/{{ .Site.Social.Instagram }}">Instagram</a></li>
            </ul>
        </div>
    </div>

    <p>&copy; 2014-2016 Henrique Dias. Some rights reserved.</p>
</footer>

{{ partial "analytics.html" . }}
{{ if not .IsNode }}{{ if eq .Type "post" }}<script>hljs.initHighlightingOnLoad();</script>{{ end }}{{ end }}
</body>
</html>