<!DOCTYPE html>
<html class="no-js" lang="{{ .Site.LanguageCode }}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#fff">
<link rel="icon" sizes="192x192" href="/icon.png">

{{ partial "head/base" . }}
{{ partial "head/open_graph" . }}
{{ partial "head/twitter" .}}
{{ partial "head/webmaster" .}}
{{ partial "head/rss" .}}
{{ partial "head/icons" .}}
{{ partial "head/includes" .}}
{{ partial "schema/person" . }}
{{ if not .IsNode }}{{ if eq .Type "post" }}{{ partial "schema/article" . }}{{ end }}{{ end }}
</head>

<body>
    <nav>
        <ul>
            <li><a href="{{ .Site.BaseURL }}">Henrique Dias</a></li>
            <li><a {{ if eq .Title "About" }}class="active"{{end}} href="{{ .Site.BaseURL }}about/">About</a></li>
            <li><a {{ if eq .Title "Blog" }}class="active"{{end}} href="{{ .Site.BaseURL }}blog/">Blog</a></li>
            <li><a {{ if eq .Title "Photography" }}class="active"{{end}} href="https://www.instagram.com/hacdias/">Photography</a></li>
            <li><a {{ if eq .Title "Work" }}class="active"{{end}} href="{{ .Site.BaseURL }}work/">Work</a></li>
          </a>
        </ul>
    </nav>
