<!DOCTYPE html>
<html class="no-js" lang="{{ .Site.LanguageCode }}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#fff">
<link rel="icon" sizes="192x192" href="/icon.png">

{{ partial "head/base" . }}
{{ partial "head/open_graph" . }}
{{ partial "head/twitter" .}}
{{ partial "head/webmaster" .}}
{{ partial "head/rss" .}}
{{ partial "head/icons" .}}
{{ partial "head/includes" .}}
{{ partial "schema/person" . }}
{{ if not .IsNode }}{{ if eq .Type "post" }}{{ partial "schema/article" . }}{{ end }}{{ end }}
</head>

<body {{ if not .IsNode }}{{ if (eq .Type "photography") }}class="photography"{{ end }}{{ end }}>
  {{ partial "navbar" . }}
