<input type="checkbox" hidden id="expand">

<header class="site-header sans">
  <div class="site-title">
    <label id="nav-toggle" for="expand"><span></span></label>
    <a href="{{ .Site.BaseURL }}">
      Henrique Dias
    </a>
  </div>
  <nav class="site-nav">
    <ul>
      <a href="{{ .Site.BaseURL }}">
        <li>Henrique Dias</li>
      </a>
      <a href="{{ .Site.BaseURL }}">
        <li>Home</li>
      </a>
      <a href="{{ .Site.BaseURL }}about/">
        <li>About</li>
      </a>
      <a href="{{ .Site.BaseURL }}blog/">
        <li>Blog</li>
      </a>
      <a href="{{ .Site.BaseURL }}photography/">
        <li>Photography</li>
      </a>
      <a href="{{ .Site.BaseURL }}portfolio/">
        <li>Portfolio</li>
      </a>
    </ul>
  </nav>
</header>

<script>
document.querySelector( "#nav-toggle" ).addEventListener( "click", function() {
  this.classList.toggle( "active" );
});
</script>
