<input type="checkbox" hidden id="expand">

{{ if isset .Params "color" }}
<header class="site-header" style="background-color: {{ safeCSS .Params.color }};">
{{ else if eq .Title "Words" }}
<header class="site-header" style="background-color: #f5f5f5; color: #484848">
{{ else }} {{ if not .IsNode }} {{ if (eq .Type "words") }}
<header class="site-header" style="background-color: #f5f5f5; color: #484848">
{{ else }} <header class="site-header"> {{ end }} {{ else }}
<header class="site-header">
{{ end }} {{ end }}
  <div class="site-title">
    <label id="nav-toggle" for="expand"><span></span></label>
    <a href="{{ .Site.BaseURL }}">
      {{ if eq .Title "Words" }}<small>Words By</small>{{ end }}
      <h2>Henrique Dias</h2>
    </a>
  </div>
  <nav class="site-nav">
    <a class="site-small-title" href="{{ .Site.BaseURL }}">Henrique Dias</a>
    <ul>
      <a href="{{ .Site.BaseURL }}">
        <li>Home</li>
      </a>
      <a href="{{ .Site.BaseURL }}about/">
        <li>About</li>
      </a>
      <a href="{{ .Site.BaseURL }}contact/">
        <li>Contact</li>
      </a>
      <a href="{{ .Site.BaseURL }}photography/">
        <li>Photography</li>
      </a>
      <a href="{{ .Site.BaseURL }}portfolio/">
        <li>Portfolio</li>
      </a>
      <a href="{{ .Site.BaseURL }}words/">
        <li>Words</li>
      </a>
    </ul>
  </nav>
</header>

<script>
document.querySelector( "#nav-toggle" ).addEventListener( "click", function() {
  this.classList.toggle( "active" );
});
</script>
