{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
<ul class="pagination">
    <li class="prev">
      {{ if $pag.HasPrev }}<a href="{{ if $pag.HasPrev }}{{ $pag.Prev.URL }}{{ end }}" aria-label="Previous">{{ end }}
          <span aria-hidden="true">&laquo; previous</span>
      {{ if $pag.HasPrev }}</a>{{ end }}
    </li>
    <li class="next">
      {{ if $pag.HasNext }}<a href="{{ if $pag.HasNext }}{{ $pag.Next.URL }}{{ end }}" aria-label="Previous">{{ end }}
          <span aria-hidden="true">next &raquo;</span>
      {{ if $pag.HasNext }}</a>{{ end }}
    </li>
</ul>
{{ end }}
