{{ partial "header" . }}

<main class="home">
    <div class="slider">
        <button class="right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        <button class="left"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
        <figure style="left: 0">
            <img src="/images/home/1.jpg" alt>
            <img src="/images/home/2.jpg" alt>
            <img src="/images/home/3.jpg" alt>
            <img src="/images/home/4.jpg" alt>
        </figure>
    </div>
</main>
{{ partial "analytics.html" . }}
</body>
</html>
