<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <link rel="canonical" href="https://henriquedias.com">
    <link rel="publisher" href="https://plus.google.com/+hacdias"/>

    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:url" content="https://henriquedias.com" />
    <meta property="og:site_name" content="Henrique Dias" />
    <meta property="og:image" content="https://henriquedias.com/img/cover.jpg" />

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:description" content="{{ page.description }}"/>
    <meta name="twitter:title" content="{{ page.title }}"/>
    <meta name="twitter:site" content="@hacdias"/>
    <meta name="twitter:image:src" content="https://henriquedias.com/img/cover.jpg"/>
    <meta name="twitter:creator" content="@hacdias"/>

    <meta name="msvalidate.01" content="B471CBBC9EF6900039C6BBF251EF277C" />
    <meta name="google-site-verification" content="nVQ4_x6m6ZTRAzclMPNxpB0iMgK-xoIj_d-l85u32nY" />

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Noto+Serif:400,700" rel="stylesheet">
    
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <header>
        <h1>Henrique Dias</h1>

        <ul>
            <li><a href="mailto:hacdias@gmail.com">hacdias@gmail.com</a></li>
            <li><a href="https://github.com/hacdias">github</a></li>
            <li><a href="https://twitter.com/hacdias">twitter</a></li>
            <li><a href="https://instagram.com/hacdias">instagram</a></li>
        </ul>
    </header>

    <main>
        {{ content }}
    </main>

    {% include analytics.html %}
</body>
</html>