{{ partial "header" . }}

<article class="container photography list sans">
  <main role="main">
    {{ $paginator := .Paginate (where .Data.Pages "Type" "photography") }}
    {{ range $paginator.Pages }}
    <a href="{{ .Permalink }}"><div class="block" style="background-image: url('{{ .Site.BaseURL }}{{ .Params.image }}')">
      <div>
        <h2>{{ .Title }}</h2>
      </div>
    </div></a>
    {{ end }}
    {{ template "_internal/pagination.html" . }}
  </main>
</article>

</div>

{{ partial "footer" . }}
